* {
    -fx-font-family: "Consolas";
    -fx-font-size: 14px;
    -fx-background-color: rgb(47, 45, 54);
    -fx-button-color: rgb(12, 158, 126);

}

.button {
    -fx-background-color: -fx-button-color;
}

.textbox {
    -fx-text-fill: rgb(33, 189, 33);
}
.textbox .content {
    -fx-background-color: rgb(43, 43, 43);
    -fx-text-fill: rgb(33, 189, 33);
}


.dialog-pane>.content {
    -fx-text-fill: -fx-button-color;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 0.833em;
    /* 10 */
}


.dialog-pane>.header-panel {
    -fx-text-fill: -fx-button-color;
    -fx-font-size: 14px;
    -fx-padding: 0.833em 0 0 0.833em;
    /* 10px 0px 0px 10px */
}

.dialog-pane>.header-panel>.label {
    -fx-text-fill: -fx-button-color;
    -fx-font-size: 14px;
    -fx-padding: 0.833em 0 0 0.833em;
    /* 10px 0px 0px 10px */
}